<nav class="navbar navbar-expand-lg navbar-light container-fluid " style="background-color: #e3f2fd; padding-bottom : 0px " >
  <a class="navbar-brand">
    <img src="assets/logo1.png" width="210px" height="30px" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" id="navBarActive">
      <li class="nav-item ">
        <a class="nav-link" routerLinkActive="active" routerLink="/capCheckList" id="afterHoverCap">CAP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/mapCheckList" id="afterHoverMap">MAP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/timeline" id="afterHoverMap">TimeLine</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/personalinfo" id="afterHoverMap">Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/userList" id="afterHoverMap">User List</a>
      </li>
      <!-- <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/dbCheckList" id="afterHoverMap">DB</a>
      </li> -->
    </ul>
   
  </div>
  <!-- <a class="navbar-brand" style="float: right">
      <img src="../../assets/mastekLogo.png" width="150px" height="30px" class="d-inline-block align-top" alt="">
  </a> -->
</nav>
