.timeline-flow-wrapper {
    font-size: 1.4em;
    padding: 15px;
    margin-left: 100px;
}
.timeline-flow-wrapper .step-progress {
    position: relative;
    top: 10px;
    padding-left: 40px;
    list-style: none;
    margin: 0;
}
.timeline-flow-wrapper .step-progress::before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    width: 10px;
    height: 100%;
}
.timeline-flow-wrapper .step-progress-item {
    position: relative;
}
.timeline-flow-wrapper .step-progress-item .status-text {
    position: relative;
    top: -17px;
}
.timeline-flow-wrapper .step-progress-item:not(:last-child), .timeline-flow-wrapper .step-progress-item.list-edge {
    padding-bottom: 17px;
}
.timeline-flow-wrapper .step-progress-item:not(:last-child) .connector, .timeline-flow-wrapper .step-progress-item.list-edge .connector {
    border-left: 10px solid #c8c8c8;
}
.timeline-flow-wrapper .step-progress-item.list-edge {
    padding-bottom: 10px !important;
}
.timeline-flow-wrapper .step-progress-item .connector {
    display: inline-block;
    content: '';
    position: absolute;
    left: -30px;
    height: 100%;
    width: 10px;
}
.timeline-flow-wrapper .step-progress-item .status-icon {
    content: '';
    display: inline-block;
    position: absolute;
    top: -11px;
    width: 22px;
    height: 22px;
    left: -37px;
    text-align: center;
    border-radius: 50%;
    background-color: white;
}

