<div class="container" >
  <form [formGroup] = "userForm" (ngSubmit)="onSubmit()">
    <div class ="form-group">
      <label>Name</label>
      <input type="text" class="form-control" formControlName="name" [ngClass]="{'is-invalid':
      userForm.get('name').touched && userForm.get('name').invalid}">
      <div class="invalid-feedback">
        <div>Name is required</div>
      </div>
    </div>
    <div class ="form-group">
      <label>Email</label>
      <input type="text" class="form-control" formControlName="email" [ngClass]="{'is-invalid':
      userForm.get('email').touched && userForm.get('email').invalid}">
      <div *ngIf="userForm.get('email').touched && userForm.get('email').invalid" class="invalid-feedback">
        <div *ngIf="userForm.get('email').errors.required">Email is required</div>
        <div *ngIf="userForm.get('email').errors.email">Email must be valid</div>
      </div>
    </div>

    <div class ="form-group">
      <label>Password</label>
      <input type="text" class="form-control" formControlName="password" [ngClass]="{'is-invalid':
      userForm.get('password').touched && userForm.get('password').invalid}">
      <div *ngIf="userForm.get('password').touched && userForm.get('password').invalid" class="invalid-feedback">
        <div *ngIf="userForm.get('password').errors.required">Password is required</div>
        <div *ngIf="userForm.get('password').errors.password && !userForm.get('password').errors.required">Password must be valid</div>
      </div>
    </div>

    <div class ="form-group">
      <label>Confirm Password</label>
      <input type="text" class="form-control" formControlName="cnfpassword" [ngClass]="{'is-invalid':
      userForm.get('cnfpassword').touched && userForm.get('cnfpassword').invalid}">
      <div *ngIf="userForm.get('cnfpassword').touched && userForm.get('cnfpassword').invalid" class="invalid-feedback">
        <div *ngIf="userForm.get('cnfpassword').errors.required">Confirm Password is required</div>
        <div *ngIf="userForm.get('cnfpassword').errors.cnfpassword">Confirm Password must be match.</div>
      </div>
    </div>

    <div formGroupName="address">
      <div class ="form-group">
        <label>Street</label>
        <input type="text" class="form-control" formControlName="street">
      </div>
      <div class ="form-group">
        <label>City</label>
        <input type="text" class="form-control" formControlName="city">
      </div>
      <div class ="form-group">
        <label>Pincode</label>
        <input type="text" class="form-control"  formControlName="pincode" [ngClass]="{'is-invalid':
        userForm.get('address.pincode').touched && userForm.get('address.pincode').invalid}">
        <div *ngIf="userForm.get('address.pincode').touched && userForm.get('address.pincode').invalid" class="invalid-feedback">
          <div *ngIf="userForm.get('address.pincode').errors.required">Pincode is required</div>
          <div *ngIf="userForm.get('address.pincode').errors.pattern">Pincode must be valid</div>
        </div>
  
      </div>
    </div>
    <button type="submit"  class="btn btn-primary">Submit </button>
  </form>

</div>